/* Elemental tags */
body {
  background-color: #ea3c53;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  padding: 1.5rem 0 0 0;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 1.5rem;
}

/* Nav-bar */
.navbar {
  color: white;
  width: 72%;
  padding-top: 4%;
}

.tindog-nav {
  font-size: 4rem;
}

.nav-link {
  color: #ff7070;
  font-size: 2rem;
  font-weight: lighter;
}

.nav-link:hover {
  color: white;
}

/* Title */
.title {
  width: 72%;
  padding-top: 4%;
}

.tindog-text {
  font-size: 6rem;
  color: white;
  text-align: left;
  line-height: 160%;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
}

.download {
  margin: 10% 4% 20% -3%;
}

.btn-outline-dark {
  margin-left: 0%;
}

.tindog-img {
  width: 70%;
  transform: rotate(20deg);
  position: absolute;
  right: 20%;
  z-index: -1;
}

/* Features */
.features {
  background-color: #f0f8ff;
  padding: 5% 0;
}

.fa-4x {
  color: #ff3d3d;
}

/* Testimonials */
.dog-div {
  padding: 50px 100px;
}

.dog-div-img {
  border-radius: 50%;
  margin: 20px;
  width: 100px;
  height: 100px;
}

/* Press */
#press {
  padding: 0 0 50px;
}

.press {
  padding: 0 10px;
}

/* Pricing */
#pricing {
  background-color: #f0f8ff;
  padding: 40px;
}

.pricing-h2 {
  padding: 0 0 20px;
}

.card {
  display: inline-block;
  padding: 10px;
  margin: 10px 15px;
}

/* Last-div */
.last-div {
  padding: 50px 50px 100px;
}

.last-div-h3 {
  font-size: 4.5rem;
  color: #f0f8ff;
  padding: 0 0 50px;
}

.last-div-button {
  background-color: #f0f8ff;
  margin: 0 15px;
}

/* Footer */
#footer {
  background-color: #f0f8ff;
  padding: 100px 0;
}

.footer-icon {
  margin: 10px 10px;
}

/* media query */
@media only screen and (max-width: 1024px) {
  .tindog-text {
    text-align: center;
  }

  .tindog-img {
    position: static;
    transform: rotate(0);
    padding: 3% 0;
  }

  .light-button {
    margin: 5% 5% 5% 14%;
  }

    .btn-outline-dark {
      margin: 5% 0%;
    }
}
